{% extends 'loja/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load app_filters %}
	<!-- Table -->
	<table class="table">
	  <thead>
	    <tr>
	     <th>Quantidade</th>
	      <th>Nome</th>
	      <th>Preco total</th>
	      
	    </tr>
	  </thead>
	  <tbody>

	 {%for item in itens%}
	    <tr>
	    	<td>{{item.quantidade}}</td>
	      	<td>{{item.id_produto}}</td>
	      	<td>{{item.id_pedido|total_pedido}}</td>
	    </tr>
	 {%endfor%}

	</table>
	 <a href="{% url 'ver_pdf' id_pedido=id_pedido %}" class="btn btn-default basic_link pull-right" style="margin-left: 10px;">Ver Documento</a>
	{% endblock %}
	
