{% extends 'loja/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="dashhead">
    <div class="dashhead-titles">
        <h3 class="dashhead-title">Itens</h3>
    </div>
  
    <ul class="list-group">
        {% for item in itens %}
            <a href="#" class="basic_link" style="text-decoration:none;">    
                <li class="list-group-item btn">
                    {{ item.id_produto }} <br />
                    {{ item.quantidade }}
                    <span class="list-group-progress" style="width: 75%;"></span>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}