{% extends 'loja/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="dashhead">
    <div class="dashhead-titles">
        <h3 class="dashhead-title">Meus Pedidos</h3>
    </div>
  
    <ul class="list-group">
        {% for pedido in pedidos %}
                <a href="{% url 'itens_pedido' id_pedido=pedido.pk %}" class="basic_link" style="text-decoration:none;">

                <button type="button" class="list-group-item">
                    Pedido {{ pedido.pk }} <br />
                    {{ pedido.get_estado_do_pedido_display }}
                </button>

                </li>
            </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}
