{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <!-- Configuracoes iniciais -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Titulo da pagina -->
        <title>WebLanches</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


        <!-- Arquivos estaticos-->
        <link rel="stylesheet" href="{% static 'css/loja.css' %}">

        <!--Fonte Loobster do google-->
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <!-- Icone da pagina -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

    </head>
    <body>
        <!-- NAVBAR (sit on top)-->
        <nav> 
            <div class="col-md-offset-1 col-md-10 col-md-offset-1"> 
                <ul class="nav navbar-nav"> 
                    <p class="navbar-text">
                        <span class="glyphicon glyphicon-map-marker"></span> 
                            Localizacao</p> 
                    <p class="navbar-text">
                        <span class="glyphicon glyphicon-earphone"></span> 
                            Contato</p> 
                </ul> 
                <ul class="nav navbar-nav navbar-right"> 
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> 
                            Sign Up </a>
                    </li> 
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span> 
                            Login </a>
                    </li> 
                </ul> 
            </div> 

        <!-- MAIN -->
        <div class="page-header">
            <h1><a href="/" class="col-md-offset-1" id="#page_header_link">WebLanches</a></h1>
        </div>

        <!-- NAV MAIN-->
        

        <!-- CONTEUDO -->

        <div class="content container">
            <div class="row">
                <div class="col-md-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>
