{% extends 'loja/base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      
      <img alt="Dinheiro" title="Dinheiro" src="{% static 'images/dinheiro.png' %}"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}"/>
      <img alt="Dinheiro" title="Dinheiro" src="{% static 'images/dinheiro.png' %}"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}"/>
      <img alt="Dinheiro" title="Dinheiro" src="{% static 'images/dinheiro.png' %}"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}"/>
      <img alt="Dinheiro" title="Dinheiro" src="{% static 'images/dinheiro.png' %}"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
      </div>
    </div>
  </div>
</div>-->


{% endblock %}
