{% extends 'loja/cardapio.html' %}
{% block list %}
{% load staticfiles %}
{% load product_filter %}

<div class="row distance">
{% get_produtos %}

{% for pro in produto_loja %}


  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{{pro.imagem}}" height="171px" width="180px"/>
      <div class="caption">
        <h3>{{pro.nome}}</h3>
        <p > {{ pro.preco }}</p>

        <button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{pro.nome}}</h4>
              </div>
              <div class="modal-body">
                <h4 class="modal-title" id="myModalLabel">{{ pro.descricao  }}</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>



{% endblock %}
