{% extends 'loja/cardapio.html' %}
{% block content %}
{% load staticfiles %}

<div class="row distance">

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}" height="171px" width="180px"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
        <p><a href="#" class="btn btn-primary" role="button">Adicionar</a> <a href="#" class="btn btn-default" role="button">Comprar</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}" height="171px" width="180px"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
        <p><a href="#" class="btn btn-primary" role="button">Adicionar</a> <a href="#" class="btn btn-default" role="button">Comprar</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}" height="171px" width="180px"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
        <p><a href="#" class="btn btn-primary" role="button">Adicionar</a> <a href="#" class="btn btn-default" role="button">Comprar</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="Hamburguer" title="Hamburguer" src="{% static 'images/hamburguer.jpg' %}" height="171px" width="180px"/>
      <div class="caption">
        <h3>Humburguer Simples</h3>
        <p>R$ 3,50</p>
        <p><a href="#" class="btn btn-primary" role="button">Adicionar</a> <a href="#" class="btn btn-default" role="button">Comprar</a></p>
      </div>
    </div>
  </div>

</div>


{% endblock %}
