{% extends 'loja/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Pedidos</div>

  <!-- Table -->
  <table class="table">     
        {% for pedido in pedidos %}     
            <div class="col-md-12 distance btn ">
                <div>
                    {{ pedido.pk }}
                </div>      
                <div>
                    {{ pedido.estado_do_pedido }}
                </div>
                <!-- Adiconar separador -->
            </div>
        {% endfor %}
  </table>
</div>


{% endblock %}