{% extends 'loja/base.html' %}

{% block content %}
{% load staticfiles %}
{% load app_filters %}

<div class="row distance">


   <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm"><a href="{% url 'todos' %}" class="btn basic_link"><b>Tudo</b></a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm"><a href="{% url 'hamburguer' %}" class="btn basic_link"><b>Hambúrguer</b></a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm"><a href="{% url 'pastel' %}" class="btn basic_link"><b>Pastel</b></a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm"><a href="{% url 'pizza' %}" class="btn basic_link"><b>Pizza</b></a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm"><a href="{% url 'bebida' %}" class="btn basic_link"><b>Bebida</b></a></button>
    </div>
  </div>
  <!--Conteudo -->
  {% block list %}

  {% endblock %}

</div>
{% endblock %}
