{% extends 'loja/cardapio/cardapio.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block list %}

<div class="row distance">

{% for produto in produtos %}

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="{{ produto.nome | title }}" title="{{ produto.nome }}" src="{{ produto.imagem | cut:'loja' }}" height="171px" width="170px"/>
      <div class="caption ">
        <hr>
        <h4>{{ produto.nome | title }}</h4>
        <hr>
        <p >R$ {{ produto.preco }}</p>
        <button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ produto.nome }}</h4>
              </div>

              <form action="{% url 'add_pedido' id_produto=produto.nome %}" data-toggle="validator" role="form" class="form-inline" method="POST">{% csrf_token %}
                  <div class="modal-body">
                    <h5 class="modal-title" id="myModalLabel">{{ produto.descricao }}</h5>
                    <br/>
                    <!--Formulario de quantidade-->

                      <div class="form-group form-group-sm">
                        <label for="quantidade_pedido">Quantidade:</label>
                        <input type="text" class="form-control" id="quantidade_pedido" >
                      </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>



{% endblock %}
