{% extends 'loja/cardapio/cardapio.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block list %}

<div class="row distance">

{% for produto in produtos %}

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="{{ produto.nome | title }}" class="img-thumbnail" title="{{ produto.nome }}" src="{{ produto.imagem | cut:'loja' }}" height="171px" width="170px"/>
      <div class="caption ">
        <hr>
        <h4>{{ produto.nome | title }}</h4>
        <hr>
        <b><p >R$ {{ produto.preco }}</p></b>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#{{produto.nome|cut:" "}}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>

            {% if user.is_superuser %}
                <a href="{% url 'deleta_produto' id_pedido=produto.nome %}" class="btn btn-default basic_link pull-right" style="margin-left: 10px;">
                         <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>



        <div class="modal fade" id="{{produto.nome|cut:" "}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ produto.nome}}</h4>
              </div>

              <form action="{% url 'add_pedido' id_produto=produto.nome %}" data-toggle="validator" role="form" class="form-inline" method="POST">{% csrf_token %}
                  <div class="modal-body">
                    <h5 class="modal-title" id="myModalLabel">{{ produto.descricao }}</h5>
                    <br/>
                    <!--Formulario de quantidade-->

                      <div class="form-group form-group-sm">
                        <label for="quantidade_pedido">Quantidade:</label>
                        <input type="text" class="form-control" id="quantidade_pedido" name="qtd_pedido" maxlength="2">
                      </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


{% if vazio %}
    <p>Não há nenhum produto correspondente no estoque!</p>
    <a href="{% url 'home' %}" class="btn btn-default basic_link" alt="Ir para pagina inicial">Clique aqui para ir para a pagina inicial</a>
{% endif %}

</div>



{% endblock %}
